* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 100%;
    color: #291f1a;
}


/* MENU NAWIGACYJNE */

#menu {
    width: 100%;
    background-color: #fefefe;
    text-align: right;
    font-size: 16px;
    color: #1ac056;
    /*    */
    position: fixed;
    padding: 10px;
    top: 0;
    /* podniesienie kolejności wyświetlania -  na wierzch */
    z-index: 1;
}


/* NAGŁÓWEK*/

header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

#menu ul {
    list-style-type: none;
    overflow: hidden;
}

#menu ul li {
    display: inline-block;
    margin-right: 70px;
}

header #centered {
    width: 600px;
    height: 170px;
    text-align: center;
    position: absolute;
    color: white;
    /* wypozycjonowanie centralnie w pionie i poziomie  */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 500;
}


/* zmiana koloru czcionki dla fragmentu tekstu w nagłówku - zamkniętego w znaczniku <span> */

h1 span {
    color: #1ac056;
}

h2 {
    font-size: 60px;
    font-weight: 300;
}


/* SEKCJA O MNIE */

#curiculum {
    width: 100%;
    background-color: white;
    color: black;
}

section #about-me {
    height: 500px;
    background-color: #efefef;
}

h3 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
}

h3 span {
    color: limegreen;
    font-weight: 600;
}

#foto1 {
    display: inline-block;
    float: left;
    width: 45%;
    height: 500px;
    position: relative;
}

#foto1 img {
    max-width: 300px;
    /* wypozycjonowanie centralnie w pionie i poziomie  */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

/* Właściwości opisu */
#decription1 {
    display: inline-block;
    float: left;
    width: 55%;
    padding-right: 50px;
    box-sizing: border-box;
}

#decription1 p {
    padding: 30px;
}

#skills {
    text-align: center;
}

#skills p {
    padding: 0 50px;
}

#skills #skills-symbols {
    text-align: center;
}

#skills #skills-symbols figure {
    display: inline-block;
    padding: 30px 30px 10px;
}


/* SEKCJA PORTFOLIO */
#portfolio {
    text-align: center;
}

/* kontener na obrazki */
#container {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.bcg-img {
    width: 33.333%;
    height: 400px;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#port1 {
    background-image: url('../img/portfolio1.jpg');
}

#port2 {
    background-image: url('../img/portfolio2.jpg');
}

#port3 {
    background-image: url('../img/portfolio3.jpg');
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 61, 79, 0.8);
    opacity: 0;
    transition: all .5s ease-in;
}

.mask:hover {
    opacity: 1;
}

.mask-border {
    margin: 10px;
    border: 2px solid white;
    height: 380px;
    padding-bottom: 15px;
    box-sizing: border-box;
}


/* OPIS PROJEKTU */
.project-desc {
    color: white;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}

.project-desc h4 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 20px;
}

.project-desc p {
    font-size: 18px;
    padding-bottom: 20px;
}

.project-desc h5 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
}

.project-desc .port-link {
    font-size: 30px;
    color: white;
    }

/* wyczyszczenie efektu float */

.clear {
    clear: both;
    height: 1px;
    float: none;
}

#contact_me {
    background-color: #213b50;
    width: 100%;
}

#contact_me > div {
    width: 50%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
}
#contact_me .clear {
    padding: 0px;
}

#contact_me cont1 #footer-cont {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

#contact {
    width: 50%;
    font-style: normal;
}

#contact h3,
#contact p {
    color: white;
    text-decoration: none;
}

#contact p {
    line-height: 1.5em;
}

#tel {
    padding: 50px 0px 0px 0px;
}

#contact_me div a {
    color: #1ac056;
}

#contact_me div h3 {
    color: white;
}

#contact_me >.clear {
    float: none;
}

#contact_me #social {
    width: 100%;
    padding: 50px 50px 0px 0px;
    box-sizing: border-box;
}

#contact_me #social .social-box {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: white;
    border: 2px solid white;
    line-height: 50px;
    margin-right: 30px;
}

#contact_me #social .social-box:hover {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: #291f1a;
    background-color: white;
    border: 2px solid white;
    line-height: 50px;
}

#contact_me div form input,
#contact_me div form textarea {
    display: inline-block;
    width: 100%;
    height: 3rem;
    margin-top: 25px;
    color: #768f95;
    font-size: 18px;
    border: none;
    padding: 0px 10px;
    box-sizing: border-box;
    background-color: #436e83;

  }

#contact_me div form textarea {
    height: 6rem;
    padding: 10px 10px;
}


#contact_me div form #submit {
    width: 20%;
    background-color: #1ac056;
    float: right;
    color: white;
    border: 1px white solid;
}

footer div {
    background-color: #102a40;
    color: #efefef;
    padding: 10px 50px;
}
